.jumbotron {
	margin-top: 70px;
	text-align: center;
}

.jobExperience {
	padding-left: 20px;
}

body {
	padding-bottom: 70px;
}

.location, .date, .GPA {
	text-align: right;
}

.email, .phoneNum {
	text-align: center;
}